.mainprofile {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    width: 33%;
}

.profilefooter {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 11%;
}

.profileaccount {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 56px;
    color: white;
    font-style: initial;
    font-family: none;
    font-size: inherit;
    opacity: 0.1%;
}