.profileAvatar {
    display: flex;
    flex-direction: row;
}

.mainIcon {
    justify-content: center;
    display: flex;
    top: 5%;
}

.name {
    justify-content: center;
    display: flex;
    top: 2%;
    padding: 2%;
}

.email {
    justify-content: center;
    display: flex;
    top: 5%;
    color: gray;
}

.profileaccount {
    background-color: #e0e0e0;
    padding: 2%;
    padding-bottom: 3%;
    border-radius: 10px;
}

.addAccount {
    justify-content: center;
    display: flex;
}

.signout {
    justify-content: center;
    display: flex;
    padding: 5%;
}


/* .mainprofile {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    width: 45%;
}

.profilefooter {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 11%;
}

.profileaccount {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 56px;
    color: white;
    font-style: initial;
    font-family: none;
    font-size: inherit;
    opacity: 0.1%;
} */