.wholeMiniNoteCard {
    width: 45%;
    /* height: 7vh; */
    margin: auto;
    /* background-color: gray; */
    /* margin-left: 10%; */
}

.takeNote {
    margin-left: 5%;
    margin-right: 10%;
}