.Pin {
    display: flex;
    /* justify-content: space-between; */
}

.NoteCard {
    width: 47%;
    padding: 0.5%;
    margin: auto;
    border: ridge;
}

.pinImage {
    width: 6%;
    margin-right: 2%;
}

.Title {
    width: 95%;
    margin-left: 3%;
}

.closeButton {
    margin-left: 2%;
    /* margin-top: 2%; */
}