.loginpage{
    /* margin-top: 70px; */
    margin-left: 50px;
}
h2{
    margin-left: 100px;
    font-size: 20px;
}
h4{
    color: green;
    margin-left: 100px;
    font-size: 10px;
}
.log{
    margin-top: 65px;
    margin-left: 455px;
    background-color: red;
    color: red;
    width: 450px;
    height: 520px;
}
.blue{
color: blue;
font-size: 27px;
}
.red{
    color: red;
    font-size: 27px;
}
.gold{
    color: gold;
    font-size: 27px;
}
.green{
    color: green;
    font-size: 27px;
}
.font{
    margin-top: 10px;
    margin-left: 100px;
}
label-item{
    margin-left: 10px;
}